body {
    background: #f3f3f3;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.header h3 {
    font-size: 24px;
    text-align: center;
}
.header h4 {
    font-size: 16px;
    margin-left: 90rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.menu {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-start;
    padding-left: 15rem;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-family: 'UniqloPro Bold', sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.menu img
{
    width: 45px;
}
.menu a:hover {
    color: #98e2c7;
}
.images1,
.images2 {
    text-align: center;
    margin-top: 20px;
}

.images1 img,
.images2 img {
    width: 750px;
    height: auto;
    margin-right: 60rem;
}
.product-info {
    position: absolute;
    padding: 10px;
    text-align: center;
    margin-left: 65rem;
    margin-top: -30rem;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.product-info p {
    margin: 0;
}
.product-info p:first-child,
.product-info p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-info p:last-child {
    color: red;
    text-decoration: line-through;
}
.product-info1 {
    position: absolute;
    padding: 10px;
    text-align: center;
    margin-left: 65rem;
    margin-top: -30rem;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.product-info1 p {
    margin: 0;
}
.product-info1 p:first-child,
.product-info1 p:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-info1 p:nth-child(3) {
    color: rgb(0, 0, 0);
    text-decoration: line-through;
}
.product-info1 p:nth-child(4) {
    color: rgb(255, 0, 0);
}
.product-info1 p:nth-child(5) {
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.product-info1 p:nth-child(6){
    font-size: 20px;
    margin-top: 3rem;
}

.product-info1 button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 4rem;
}


.product-info2 {
    position: absolute;
    padding: 10px;
    text-align: center;
    margin-left: 65rem;
    margin-top: -30rem;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.product-info2 p {
    margin: 0;
}
.product-info2 p:first-child,
.product-info2 p:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-info2 p:nth-child(3) {
    color: rgb(0, 0, 0);
    text-decoration: line-through;
}
.product-info2 p:nth-child(4) {
    color: rgb(255, 0, 0);
}
.product-info2 p:nth-child(5) {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 3rem;
}
.product-info2 p:nth-child(6){
    font-size: 20px;
    margin-top: 3rem;
}
.product-info2 button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 4.4rem;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
}
.gambar img
{
    width: 33rem;
    height: auto; 
    margin-left: 20rem;
    margin-top: 5rem;
}

#modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 450px;
    margin-left: 650px;
    margin-top: 100px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form button[type="submit"],
form button[type="button"] {
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
    background-color: #333;
}
